<div class="container-big-card">

    <div class="big-card-image">
        <img src="https://i.ytimg.com/vi/z4bHpH_j61g/hq720.jpg?sqp=-oaymwEXCK4FEIIDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBcTSOD5BRMXQCwmNV_vRKRx5mGCw"
         alt=""
         height="250px"
         srcset="">
    </div>
    
    <div class="big-card-title">
        <h1><a href="" >El nuevo agente de Valorant</a></h1>
    </div>

    <div class="big-card-description">
        <p><a href="">
            bla lasdsadsajd asdhsadhsadasajksndjasndjsadn
            sadjasjdsankjdasndsaudinasuidnas
            sadjnasdasdnuiasnduisa
        </a> 
        </p>
    </div>

</div>