<div class="container-small-card">
    <div class="container-small-card-content">
        <div class="small-card-image">
            <img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/094ffc5ed33b347e04aa22a14b3b8c160fda0be2-1920x1080.jpg"
             alt=""
             height="250px"
             srcset="">
        </div>
        <div class="small-card-title">
            <h1><a href="" >El nuevo agente de Valorant</a></h1>
        </div>
    </div>
    <div class="container-small-card-separator">
        <hr>
    </div>
</div>
